<div class="assuntos_container">
  <div class="primeiro_assunto">
    <div class="titulo_assunto">Assunto da pergunta aparece aqui</div>
    <div class="nome_usuario">Carlos Henrique Santos</div>
    <div class="inicio_pergunta">
      Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
      análise da dimensão e impacto de processo formativo situado impacto de
      processo formativo processo...
    </div>
    <div class="simbolos_e_like">
      <img src="../../assets/mais_informações.jpg" alt="" />
      <img src="../../assets/salvar.jpg" alt="" />
      <div class="like">1 Like</div>
      <div class="resposta">1 resposta</div>
    </div>
  </div>
  <div class="primeiro_assunto">
    <div class="titulo_assunto">Assunto da pergunta aparece aqui</div>
    <div class="nome_usuario">Carlos Henrique Santos</div>
    <div class="inicio_pergunta">
      Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
      análise da dimensão e impacto de processo formativo situado impacto de
      processo formativo processo...
    </div>
    <div class="simbolos_e_like">
      <img src="../../assets/mais_informações.jpg" alt="" />
      <img src="../../assets/salvar.jpg" alt="" />
      <div class="like">1 Like</div>
      <div class="resposta">1 resposta</div>
    </div>
  </div>
</div>
