<div class="discussao_container">
  <div class="topico_container">
    <div class="criar_topico">
      <span class="compartilhar_ideias"
        >Compartilhe suas ideias ou dúvidas com os autores</span
      >
      <div class="icones">
        <img src="../../assets/icone1_discussao.jpg" alt="" />
        <img src="../../assets/icone2_discussao.jpg" alt="" />
        <img src="../../assets/icone3_discussao.jpg" alt="" />
      </div>
      <span class="desenvolvimento_cientifico"
        >Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus questionamentos ou sugestões para o autor!
      </span>
      <button (click)="mostrarProximoComponente()" class="btn-create-topic">
        <div>
          <fa-icon [icon]="plus"></fa-icon>
          Criar Tópico
        </div>
      </button>
    </div>
  </div>
</div>
