.discussao_container {
  margin-top: 30px;
}
.criar_topico {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.compartilhar_ideias {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: #ED7839;
}

.desenvolvimento_cientifico {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.25px;
  color: #595959;
  width: 626px;
  text-align: center;
}

.btn-create-topic {
  background: linear-gradient(to bottom, #FEB254, #F0813D);
  padding: 7px 13px 9px 13px;
  border: none;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  border-radius: 1px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-create-topic:hover {
  background: linear-gradient(to bottom,  #F0813D,#FEB254);
  cursor: pointer;
}

.icones img{
  margin: 35px 25px;
}
