<div>
  <app-coluna-slaca2019></app-coluna-slaca2019>
  <div class="conteudo_principal_conteiner">
    <div class="header_conteiner">
      <div class="header_frases">
        <span
          >Anais do Simpósio Latino Americano de Ciências de Alimentos
        </span>
        <span class="segunda_frase"
          >Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
        </span>
        <span>ISSN: 1234-5678</span>
      </div>
      <div class="pt_br">
        <div class="pt_br_box">
          <img src="../assets/pt_br.jpg" alt="" />
          <span class="texto_pt_br">PT, BR</span>
          <img src="../assets/dropdown.jpg" alt="" />
        </div>
      </div>
      <div class="box_email">

      </div>
    </div>
  </div>
</div>
