<div class="primeira_sessao_conteiner">
  <div class="titulo_e_video_apresentacao">
    <h2>
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP
    </h2>
    <img src="../assets/video_apresentacao.jpg" alt="" />
  </div>
  <div class="coluna_detalhes_container">
    <div class="coluna_detalhes_icones">
      <span class="download">
        <fa-icon [icon]="download"></fa-icon>
        Download</span
      >
      <span class="salvar">
        <fa-icon [icon]="star"></fa-icon>
      </span>
      <span class="doi_logo">
        <span class="icone_doi">doi</span>
      </span>
    </div>
    <span class="como_citar">COMO CITAR ESSE TRABALHO ?</span>
    <div class="coluna_detalhes">
      <h2>Detalhes</h2>
      <div class="especificacoes">
        <div class="primeira_especificacao">
          <span>Tipo de Apresentação: <span class="strong_font">Pôster.</span></span>
          <span>Eixo temático: <span class="strong_font">Alimentação e Saúde(AS)</span></span>
          <span>Palavras-chaves: <span class="strong_font">Alimentos funcionais, alimentação escolar.</span></span>
        </div>
        <div class="segunda_especificacao">
          <h2>Autores:</h2>
          <span>Galileo Galilei¹</span>
          <span>Berta Lange de Morretes²</span>
          <span>Isaac Newton³</span>
          <span>Cesar Lattes¹</span>
          <span>Stephen Hawking⁴</span>
        </div>
        <div class="terceira_especificacao">
          <span>¹Universidade Estadual de Campinas</span>
          <span>²Universidade de São Paulo</span>
          <span>³Instituto Nacional de Pesquisas Espaciais</span>
          <span>⁴Universidade Federal do Rio de Janeiro</span>
        </div>
      </div>
    </div>
  </div>
</div>
