<div class="topico_enviado_container">
  <div class="topico_enviado">
      <div class="enviado_com_sucesso">Seu tópico foi enviado com sucesso! :D</div>
      <div class="agradecer_contribuicao">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</div>
      <div class="descobrir_trabalhos">Descubra outros trabalhos!</div>
      <div class="botao_enviar">
        <button >criar novo tópico</button>
      </div>
      <div class="aguardando_feedback">
        <div class="icon_check"><fa-icon [icon]="check"></fa-icon></div>
        <div class="aguardando_feedback">Aguardando feedback dos autores</div>
        <div class="editar_topico">Editar tópico</div>
      </div>
  </div>
</div>
