<div class="answered-topic">
  <div class="duvida_ou_sugestao">
    <span>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</span>
  </div>
  <div class="ops-topic-subject">
    <span>Assunto</span>
    <input type="text" placeholder="Defina um tópico sucinto para notificar os autores...">
  </div>
  <div class="comments-container">
    <span>Conteúdo</span>
    <div class="text_area_conteudo">
      <textarea></textarea>
    </div>
    <div class="btn-create-topic">
      <button>Enviar</button>
    </div>
  </div>
</div>
