@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


html, body {
  margin: 0;
  padding: 0;
}

// coluna
.coluna_slaca {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}

.coluna_de_opcoes {
  list-style: none;
  padding: 0;
}

.coluna_de_opcoes li {
  padding: 0 24px;
  color: #725C5C;
  font-family: Quicksand;
  font-size: 15px;
  line-height: 18.75px;
  font-weight: 500;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.border_trabalhos {
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #FFB455, #ED7839) 1;
}

//definindo espaçamento do conteudo principal
.conteudo_principal_conteiner {
  margin-left: 220px;
}

//cabeçalho
.header_conteiner {
  display: flex;
  height: 68px;
  justify-content: space-evenly;
}

.header_frases {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #725C5C;
  padding: 5px 0;
}

.segunda_frase {
font-size: 22px;
line-height: 25.78px;
}

.pt_br {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pt_br_box {
border: 1px solid #ccc;
width: 97px;
height: 34px;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
gap: 2px;
}

.texto_pt_br {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  color: #333;
}

.box_usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bem_vindo_e_email {
  font-family: Quicksand;
  font-weight: 400;
  color: #333;
  display: flex;
  flex-direction: column;
}

.bem_vindo {
  font-size: 14px;
  line-height: 17.5px;
  text-align: end;
}

.email {
  font-size: 12px;
  line-height: 15px;
}

.avatar {
  width: 30.3px;
  height: 30.63px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  margin-left: 7px;
}

.badge {
  position: absolute;
  right:11.7em;
}

//primeira sessao
.primeira_sessao_conteiner {
  display: flex;
  justify-content: space-evenly;
}

.titulo_e_video_apresentacao {
  width: 784px;
}

.titulo_e_video_apresentacao h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #ED7839;
}

.download{
  color: #fff;
  padding: 6px 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  background-color: #ED7839;
}

.salvar {
  background-color: #ED7839;
  color: #fff;
  padding: 7.5px 12px;
  border-radius: 4px;
}

.doi_logo {
  background-color: #ED7839;
  color: #fff;
  padding: 7.5px 12px;
  border-radius: 4px;
}

.icone_doi {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  padding: 2px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #fff;
  color: #ED7839;
}

.como_citar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: end;
  color: #ED7839;
  margin-top: 12px;
}

.coluna_detalhes_container {
  display: flex;
  flex-direction: column;
  width: 212px;
  height: 526px;
}

.coluna_detalhes_icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coluna_detalhes h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4e4e4e;
  line-height: 25px;
}

.primeira_especificacao {
  display: flex;
  flex-direction: column;
}

.primeira_especificacao span{
  font-family: Quicksand;
  color: #5c5c5c;
  font-size: 12px;
  line-height: 14.4px;
}

.strong_font {
  font-weight: 700;
}

.segunda_especificacao{
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  margin-top: 12px;
}

.segunda_especificacao h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
}

.segunda_especificacao span {
  font-weight: 400;
  line-height: 16.8px;
  color: #5c5c5c;
}

.terceira_especificacao {
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  margin-top: 25px;
}

.terceira_especificacao span {
  color: #5c5c5c;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.especificacoes {
  border-right: 3px solid #bfbfbf;
  height: 200px;
}
